{% extends 'index.html' %}

{% block content %}

<div id="cy"></div>

<style>
    #cy {
        min-height: 500px;
        width: 90%;
        margin: 1%;
        border-bottom: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.18.1/cytoscape.min.js" type="text/javascript"></script>

<script type='text/javascript'>
    jQuery.get("/api/status", val => {
        var parsed = JSON.parse(val)
        var cy = cytoscape({

            container: $('#cy'), // container to render in

            elements: parsed[0],
            style: parsed[1],

            layout: {
                name: 'breadthfirst',
                directed: false,
                padding: 10
            }

        });
    })
</script>

{% endblock %}